body{
  font-family:Arial;
  background:#eef2ff;
  padding:20px;
}

h1{text-align:center}

.card{
  background:#fff;
  padding:15px;
  margin:15px auto;
  max-width:700px;
  border-radius:8px;
}

.q{margin-bottom:10px}

button{
  padding:10px;
  background:#2563eb;
  color:white;
  border:none;
  cursor:pointer;
}

.result-box{
  background:#f1f5f9;
  padding:10px;
  margin-top:10px;
  border-radius:6px;
}

img{
  width:80px;
  display:block;
  margin:10px 0;
}

